.cafe-page-container {
    text-align: center;
  }
  
  .cafe-info {
    background-color: #cb202d;
    padding: 20px;
    height: min-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
  }
  
  
  .cafe-info .location-contact {
    display: flex;
    justify-content: space-between;
    color: whitesmoke;
  }
  
  .carousel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .carousel {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .card-row {
    display: flex;
    transition: transform 0.5s ease;
    justify-content: space-evenly;
  }
  
  .menu-item {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 300px;
    display: inline-block;
    overflow: hidden;
    background-color: #fff; 
  }
  

  .menu-item h3 {
    color: #333; /* Add a text color */
  }

  .cafe-info h2{
    color: white;
  }
  
  .menu-item p {
    color: #666; /* Add a text color */
  }
  
  .menu-item p:last-child {
    font-weight: bold; 
    color: #e44d26;
  }
  
  
  .controls {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  button {
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin: 20px 15px;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  